@font-face {
    font-family: "IBMPlexSans";
    font-weight: 600;
    font-style: normal;
    src: url(../font/IBMPlexSans-SemiBold.ttf);
   /** src: url(../fonts/Quan.woff) format('woff'); **/
}

@font-face {
    font-family: "IBMPlexSans";
    font-weight: 500;
    font-style: normal;
    src: url(../font/IBMPlexSans-Medium.ttf);
   /** src: url(../fonts/Quan.woff) format('woff'); **/
}

@font-face {
    font-family: "IBMPlexSans";
    font-weight: 500;
    font-style: italic;
    src: url(../font/IBMPlexSans-MediumItalic.ttf);
   /** src: url(../fonts/Quan.woff) format('woff'); **/
}

@font-face {
    font-family: "IBMPlexSans";
    font-weight: 400;
    font-style: normal;
    src: url(../font/IBMPlexSans-Regular.ttf);
   /** src: url(../fonts/Quan.woff) format('woff'); **/
}