body {
    font-family: "IBMPlexSans",sans-serif;
    margin: 1rem  6rem 1rem 6rem !important;
    font-size: 1rem;
  color: #2C2C2C;;
  }

    /* header styles */
    h1{
      font-size: 100px !important;
      font-weight: 500;
      margin: 0;
      padding: 0;
      color: #2C2C2C;
    }

    h2{
      font-size: 3rem;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 16px;
      padding: 0;
      color: #2C2C2C;
      line-height: 140%;
    }

    h3{
      font-size: 2rem;
      font-weight: 600;
      margin-top: 0;
      padding: 0;
      color: #2C2C2C;
      margin-bottom: 32px;
      line-height: 150%;
    }

    h4{
      font-size: 1.5rem;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 16px;
      padding: 0;
      color: #2C2C2C;
    }
    p{
      font-size: 1rem;
      font-weight: 400;
      line-height: 170%;
      margin: 0;
      padding: 0;
      color: #2C2C2C;
    }

    a{
      text-decoration: none;
      color: #2C2C2C;
    }

    a:not(.cardLink):hover{
      text-decoration: line-through #D0FD5F;
    }

  /* nav bar source from https://www.youtube.com/watch?v=LcePFs4vFLg */
  .navbar {
background-color: white;
    text-align: right;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 0;
    position: fixed;
    top: 0;
   width: 100%;
   right:80px;
    z-index: 100;
    float:right;
  }

  .navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: flex-end;
    gap:56px;
  }

.navbar li{
    display: inline-block;
}

.navbar a{
    display: flex;
    align-items: center; /* Align items vertically */
    

    text-decoration: none;
    font-size: 1rem;
    color: #2C2C2C;
    position: relative; 
}

.navbar a:not(.logo-img):hover::before, .navbar a:not(.logo-img):focus::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;    
    left:0;
    bottom:8px; 
    border-bottom: 3px solid #D0FD5F; 
  }

.nav_item a.active {
  font-weight: 600;
}

.nav-link.active{
  font-weight: 600;
}

   /* hero section position:absolute;
    bottom: 30px; */
  .hero{
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    height: 70vh;
    align-items: start;
    
  }

    /* typing effect animation from https://www.youtube.com/watch?v=DLs1X9T1GcY */

    .typing-effect{
        display: flex;
        align-items: center;
        justify-content: start;
        margin-bottom: 20px;
    }

    h1 span{
        font-style: italic;
        background-color: #D0FD5F;
        padding: 8px;
        position: relative;
        /*display: inline-block;*/
        /*transform: rotate(10deg);*/
    }

    h1 span::before{
        content: "";
     right: -8px;
        top:50%;
       position: absolute;
       height: 50px;
       width: 3px; 
       background:#2C2C2C;
       transform: translateY(-45%);
       animation: blink 0.7s infinite;
    }

    h1 span.stop-blinking::before {
        animation: none;
    }
    @keyframes blink {
        50% { opacity: 0 }
    }
/* hero animation */
    .animated-reveal {
        animation: reveal 3s forwards; 
      }
      
      @keyframes reveal {
        from {
          transform: translateY(10%); /* Start from below the viewport */
          opacity: 0; /* Start with opacity 0 */
        }
        to {
          transform: translateY(0); /* Move up to its original position */
          opacity: 1; /* Fully visible */
        }
      }




/* project card  text on top of image source from https://www.w3schools.com/howto/howto_css_image_text.asp*/
      .card-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 100px;
        margin-bottom: 100px;
        
      }

      .card{
        position: relative;
        cursor: url('../img/cursor.jpg'), auto;
      }

      .largeCursor{
        cursor: url('../img/cursor.jpg'), auto;
        scale:1.1;
      }

.numTop{
    position: absolute;
    font-size: 100px;
    color: #D0FD5F;
    font-weight: 600;
top: -16px;
left: 10px;
}
.card img{
    margin-bottom: 24px;
    
}

/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    
  }
  
  .footer-right {
    display: flex;
    
    gap: 2rem;
    color: #2C2C2C;
  }
  
  .footer-right img {
    width: 24px;
    height: 24px;

  }

  .filter-icon{
width: 24px;
height: 24px;
    fill:#2C2C2C;
  }
  
  .footer-right svg :hover, .footer-right svg:focus{
    fill:#D0FD5F;
  }
    

  /* about page */
  .about-container{

    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Center vertically */
    margin-top: 100px;
    margin-bottom: 100px;
    gap:64px;
    
  
  }
  .about-img {
    flex: 0 0 auto; /* Don't grow or shrink, fixed width */
    margin-right: 64px; /* Add spacing between image and text */
    flex: 1;
    
  }

  .about-img img{
    width: 100%;
    height: auto;
    

  }

  .about-text{
  
    flex: 1;
  }

  .about-text p{
    margin-bottom: 10px;
  }


  .projectHero{
    width: 100%;
    overflow: hidden;
  margin-bottom: 64px;
  }

  .projectHero img {
    width: 100%;
    height: auto;
    display: block;
  }

  .project-section{
    margin-bottom: 56px;
  }

  .projectContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }
  
  .leftSide {
    flex: 1; /* Take up 1/2 of the available space */
    
  }
  
  .rightSide {
    flex: 1; /* Take up 1/2 of the available space */
    
  }

  .list-container {
    display: flex;
    justify-content: center;
  }
  
  .four-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    padding: 0;
  }

  .four-columns li {
    padding-right: 32px;
    line-height: 24px;
  }
  .label {
    font-weight: 600;

  }
  .projectHeader {
  font-size: 64px;
    margin-bottom: 72px;
  }

  .rightSide p{
    margin-bottom: 16px;
  }

  .problemList {
    list-style: none;
    padding: 0;
  }
  
  .problemList li {
    font-size: 20px; 
    margin-bottom: 16px; 
    line-height: 26px;
  }
  
  .problemList li span {
    font-weight: bold;
    margin-right: 4px;
  }

  .rightSide img{
    width: 100%;
    margin-bottom: 16px;
  }
  
  /* source code from my first project*/
  .submit{
 
    color: #2C2C2C;
    border: none;
   background-color:#D0FD5F;
   padding: 10px;
    text-decoration: none;
   
  
  }

  .submit:hover{
    text-decoration: line-through black;
  }

  .nextProject{
    margin-bottom: 40px;
  }

  /* Style Guid*/

  .divider{
  
    margin-bottom: 40px;
  }

  #fonts{
    margin-top: 100px;
  }

  /*source code from https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
  .flex-container {
   
    display: flex;
    
  
    flex-flow: row wrap;
    justify-content: space-around;
    
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .yellow {
    background: #D0FD5F;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
  
    color: #2C2C2C;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .black {
    background: #2C2C2C;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
 
    color: white;
    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .white{
    background: white;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
   
    color:#2C2C2C;
    
   
    text-align: center;
    border: solid 1px #2C2C2C;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /**image flexbox   source code from my first project **/
  .imageContainer {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap:24px;
  }
  
  .imageContainer img {
    flex: 1;
  }




  /* Responsiveness */
  @media screen and (max-width: 768px)  {
    body{
      margin: 24px!important;
    }

  h1{
    font-size: 3.5rem !important;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: #2C2C2C;
  }

  h2{
    font-size: 3rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 24px;
    padding: 0;
    color: #2C2C2C;
    line-height: 140%;
  }

  h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0;
    padding: 0;
    color: #2C2C2C;
    margin-bottom: 16px;
  }

  h4{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 16px;
    padding: 0;
    color: #2C2C2C;
  }
  p{
    font-size: 14px;
    font-weight: 400;
    line-height: 170%;
    margin: 0;
    padding: 0;
    color: #2C2C2C;
  }


  .projectHeader {
    font-size: 32px;
      margin-bottom: 14px;
      line-height: 140%;
    }

    .projectContainer {
      display: flex;
      flex-direction: column;
    flex-wrap: wrap;
      
    }

    .project-section{
      margin-bottom: 8px;
    }

    .projectHero{
      width: 100%;
      overflow: hidden;
    margin-bottom: 24px;
    margin-top: 80px;
    }

    .four-columns {
      grid-template-columns: repeat(2, 1fr); /* Change to 2 columns for smaller screens */
      gap: 16px; /* Add some gap between columns */
    }
  
    .four-columns li {
      padding-right: 16px; /* Reduce padding for smaller screens */
      line-height: 20px; /* Adjust line-height for smaller screens */
      font-size: 14px;
    }

    .problemList li {
      font-size: 16px; 
      margin-bottom: 16px; 
      line-height: 20px;
    }

    .about-container{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-top: 80px;
      margin-bottom: 32px;
    }

   .kaylaText svg{
    width: 100%;
   }
  
   .card-container{
    flex-direction: column;
    flex-wrap: wrap;
    gap:100px;
    margin-top: 0;
  
   }

}


@media screen and (max-width: 375px)   {

  h2{
    font-size: 2rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 16px;
    padding: 0;
    color: #2C2C2C;
    line-height: 140%;
  }


    }
  
  